/*-------------------------------------------- home ------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  /* CSS global variables */
  --rasp-color: #000000;
  --code-bg: #dddddd;
}

/* Layout */
html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #262626;
  font-family: 'Open Sans', sans-serif;
  color: #f6f6f6;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}


h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  color: #01b3ff;
  font-size: 20px;
  
}


h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}


h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}


h5 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}


h6 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}


p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}


img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

a {
 
 color: #00ff4c;
}


header {
  /* position: fixed; */
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:0;
}

button, .submit {
  padding: 10px 20px 10px 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  color: #00ff4c;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 2px #fff;
  border-radius: 30px;
  cursor: pointer;
  
}

button:hover {
  color: #fff;
  background-color: #01b3ff;
}

.submit:hover {
  color: #fff;
  background-color: #01b3ff;
}
.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.nav-bar a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
}

.nav-bar a:hover {
  color:  #262626;
  background-color:#01b3ff;
  padding: 10px;
}

.skiplink {
  color:  #fff;
  background-color:#bb01ff;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 20px;
  min-height: 200px;
  text-align: center;
}


code {
  font-size: 1em;
  font-family: monospace;
  color: #000;
  background-color: #fff;
}

pre {
  white-space:pre-line;
  text-align: left;
  margin: auto;
  padding: 50px;
}

footer {
  float: right;
}

.container {
  margin: 20px auto 20px auto;
  max-width:500px;
}

#heading-hierach,
#img-caption,
#video {
  background: var(--rasp-color);
}



@media (min-width: 576px) { 
  header {
    /*     */
    top: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 20px;
  }

  .nav-bar {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 150px;

  }

  .nav-bar a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
  }
  
  .nav-bar a:hover {
    color:  #262626;
    background-color:#01b3ff;
    padding: 10px;
  }

  ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 }


@media (min-width: 768px) { 
  
}

@media (min-width: 992px) {
  
 }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }

/*-------------------------------------------- image ------------------------------------*/
img {
  width: 100%;
  height: auto;
}

figcaption {
   margin-top: 10px;
}

/*-------------------------------------------- audio ------------------------------------*/
#audio-content{
  margin: 100px auto 0 auto;
}


/*-------------------------------------------- video ------------------------------------*/
video {
  width: 100%;
  height: auto;
}

/*-------------------------------------------- form ------------------------------------*/

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 0.17em solid white;
  padding: 1.9em;
  margin-top: 3em;
  min-width: 20em;
}


label {
  font-size: 14px;
  margin-bottom: 3px;
}



input {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 0.94rem;
  color: #000;
  background-color: white;
  min-width: 19em;
  margin: 0.5em 0 0.5em 0;
  padding: 1em;
  margin-bottom: 40px;
}
